<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rentright</title>
  <!-- favicon -->
  <link rel="icon" href="/assets/images/Rentright-01.png" sizes="32x32" type="image/png">
  <!-- font awesome -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!-- stylesheet -->
  <link rel="stylesheet" href="assets/style.css">
</head>

<body>
  <nav class="navbar">
    <a class="navbar-brand" href="index.html" id="brand">
      <img src="/assets/images/rentright.svg" width="100" height="100" class="d-inline-block" alt="" loading="lazy">
      <b>Rentright</b>
    </a>

    <a class="navbar-item  d-flex" href="#" data-toggle="modal" data-target="#exampleModalCenter">
      <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_rw7SpS.json" background="transparent" speed="1"
        style="width: 80px; height: 80px;" hover autoplay></lottie-player>
      <span class="pb-0">Call us</span>
    </a>
  </nav>

  <!-- Modal -->
  
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Rent Predictor</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div> -->

            <div id="estimated_price">
              <p class="boldPara">ESTIMATED PRICE</p>
              <div class="estimated-price">
                <span>From</span> <h4><span>&#8358;</span> <span class="lower"></span> - <span>&#8358;</span> <span class="upper"></span></h4>
              </div>
            </div>

            <div id="requested">
              <p class="boldPara">REQUESTED DETAILS</p>
              <div class="requested-details">
                <p class="apartLoc"></p>
                <p class="apartType"></p>
                <p class="bedrooms"></p>
                <p class="toilets"></p>
              </div>
            </div>

            
        
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <!-- HEADER -->

  <header>
    <div class="jumbotron hero d-flex flex-column align-items-center justify-content-center">
      <div class="overlay">
        <div class="container pl-5 text-center">
          <h2>Get the best rent price prediction in Lagos on Rentright</h2>
        </div>
      </div>
     
        <div class="wrap content">
          <div class="tabactive container">
            <form class="row justify-content-center flex-md-row" id="searchForm">
              <div class="form-group col-12 col-md-6 col-lg-4 col-xl-3 px-0 px-xl-2">
                <input type="text" class="form-control position-relative" id="InputLocation" placeholder="Location" name="location" required>
                <label class="mb-0 " for="InputLocation">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                </label>
              </div>
              <div class="form-group col-12 col-md-6 col-lg-4 col-xl-3 px-0 px-xl-2">
                <select data-width="100%" data-style="btn-default" data-size="6"
                  class="btn-group form-control selectpicker" name="apartment" id="InputApartment" required>
                  <option selected value="">Type of apartment</option>
                  <option value="flat / apartment">Flat / Apartment</option>
                  <option value="detached duplex">Detached Duplex</option>
                  <option value="terraced duplex">Terraced Duplex</option>
                  <option value="semi detached duplex">Semi Detached Duplex</option>
                  <option value="detached bungalow">Detached Bungalow</option>
                  <option value="shop">Shop</option>
                  <option value="terraced bungalow">Terraced Bungalow</option>
                </select>
              </div>

              <div class="form-group col-12 col-md-6 col-lg-4 col-xl-3 px-0 px-xl-2">
                <select data-width="100%" data-style="btn-default" data-size="6"
                  class="btn-group form-control selectpicker" name="bathrooms" id="InputBedrooms" required>
                  <option selected value="">No of bedrooms</option>
                  <option value="1">1 </option>
                  <option value="2">2 </option>
                  <option value="3">3 </option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                </select>
              </div>
              <div class="form-group col-12 col-md-6 col-lg-4 col-xl-3 px-0 px-xl-2">
                <select data-width="100%" data-style="btn-default" data-size="6"
                  class="btn-group form-control selectpicker" name="toilets" id="InputToilets" required>
                  <option selected value="">No of batrooms / toilets</option>
                  <option value="1">1 </option>
                  <option value="2">2 </option>
                  <option value="3">3 </option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                </select>
              </div>
              <div class="dropdown form-group">
                <button class="btn form-control dropdown-toggle submit" type="submit" id="dropdownMenuButton"
                  data-toggle="modal" data-target="#exampleModal" aria-haspopup="true" aria-expanded="false">
                  Search
                  
                </button>

              </div>

            </form>

          </div>

            </li>
          </ul>
        </div>

    </div>

  </header>


  <!-- SECTION -->

  <div class="view2">
    <div class="container">
      <div class="mainfest">
       <h3 class="text-center header mb-5" style="color: #143FAE;"> How it works</h3>

      </div>
      <div class="row justify-content-around">
        <div class="col-12 col-sm-10 col-md-8 col-lg-4 info-flash">
          <div class="icon d-flex align-items-center justify-content-center">
           <img class="mb-0 tree" src="assets/images/Finance-rafiki 1.svg">
          </div>
          <p class="body text-center">Best rent price prediction <br> you can think of</p>
        </div>
        <div class="w-100 d-lg-none"></div>
        <div class="col-12 col-sm-10 col-md-8 col-lg-4 info-flash">
          <div class="icon d-flex align-items-center justify-content-center">
           <img class="mb-0 tree " src="assets/images/Group 667.svg" id="tree" >

          </div>
          <p class="body text-center">Prices are determined by <br> a few factors</p>

        </div>
        <div class="w-100 d-lg-none"></div>
        <div class="col-12 col-sm-10 col-md-8 col-lg-4 info-flash">
         <div class="icon d-flex align-items-center justify-content-center">
           <img class="mb-0 tree" src="assets/images/Address-rafiki 1.svg" alt="">
          </div>
          <p class="body text-center">Any location in Lagos <br> is covered</p>
        </div>

      </div>

    </div>
  </div>

  <!-- FOOTER -->
  <div class="footer">
    <div class="container-fluid">
      <div class="row d-flex justify-content-around">
        <div class="col-sm-12 col-md-5">
          <h3>
            Newsletter
          </h3>
          <form>
            <div class="form-group row">
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your Email">
              <button class="btn form-control dropdown-toggle submit" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Subscribe
              </button>
            </div>
            <div class="form-check">
              <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1"
                aria-label="...">
              <span>
                Send me updates when there is price changes</span>
            </div>
        </div>
        </form>
        <div class=" col-sm-12 col-md-3 py-5 text-left ">
          <p>Are you considering letting out your Lagos apartment? Just reach out to us via <a
              href="">hello@rentright.com</a> or visit <a href="">www.lagosrentright.com</a></p>
        </div>
      </div>
      <p class="credit mt-4">Copyright © 2020 Rentright. All Rights Reserved</p>
    </div>
  </div>
  <!-- <script src="https://widget.flowai.app/w/YVl6ak5uV0s5fGN2QkVaS2dDUw==/flow-webclient-1.1.2.min.js"></script> -->
  <!-- SCRIPT -->
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <!--TENSOR FLOW SCRIPT-->
  <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
  
  <!-- APP JS -->
  <script src="assets/app.js"></script>
</body>

</html>